* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    /* Deafult Font size in css is 16px */
}

.navbar {
    height: 3.8Rem;
    background-color: #0F1111;
    color: white;
}